xml-file/xml-java/src/main/resources/pserson.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="person">
    <xs:complexType>
      <xs:sequence
        <xs:element type="xs:int" name="id" minOccurs="0"/>
        <xs:element type="xs:string" name="name" minOccurs="0"/>
        <xs:element type="xs:string" name="gender" minOccurs="0"/>
        <xs:element type="xs:string" name="addr" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>